<section class="section">
    <div class="section__inner">
        <div class="container">
            <div class="section__title section__title--dark section__title--small section__title--align-center" data-aos="fade-down" data-aos-duration="600">
                FAQ
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-md-4">
                    <div class="faq-block" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                        <div class="faq-block__title">
                            What area does BagsAway Service?
                        </div>
                        <div class="faq-block__description">
                            BagsAway currently provides luggage pick-up and drop-off service to and from Toronto’s Pearson Airport, Toronto’s Billy Bishop Airport, Greater Toronto Area hotels, offices and residences.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="faq-block" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                        <div class="faq-block__title">
                            Can I view my previous bookings?
                        </div>
                        <div class="faq-block__description">
                            You certainly can. All previous transactions can be viewed by logging into your account on our BagsAway website.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="faq-block" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                        <div class="faq-block__title">
                            When will my luggage be delivered?
                        </div>
                        <div class="faq-block__description">
                            Your luggage will be delivered at a pre-determined time and place of your choice, within the Greater Toronto Area.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="faq-block" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                        <div class="faq-block__title">
                            How can I contact BagsAway?
                        </div>
                        <div class="faq-block__description">
                            Our service center is here to help! Contact our service center via email at support@bagsaway.ca or call us at 1-888-bagsaway. A service center representative is available by phone during the hours of 9am to 5pm, 7 days a week.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="faq-block" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                        <div class="faq-block__title">
                            Can I track where my luggage is?
                        </div>
                        <div class="faq-block__description">
                            We are currently working on a GPS system to support luggage tracking. Coming soon!
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="faq-block" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                        <div class="faq-block__title">
                            How do I know that my bags will be stored and transported safely?
                        </div>
                        <div class="faq-block__description">
                            The safety of your luggage is our primary concern. When our team picks up luggage from you, we secure each bag with tie wraps to ensure the luggage is not opened or tampered with.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 50px; text-align: center">
                <div class="col-12">
                    <a href="#" class="base-button base-button--medium base-button--filled" data-aos="fade-up" data-aos-duration="400">Load more</a>
                </div>
            </div>
        </div>
    </div>
</section>