<section class="section" style="height: 563px; background-image: url('${require('/assets/images/ads-bg.png')}');">
    <div class="section__inner">
        <div class="section__table">
            <div class="section__table-cell">
                <div class="container">
                    <div class="section__title section__title--align-center" data-aos="zoom-in-down">
                        Have you heard we store luggage?
                    </div>
                    <div class="section__description section__description--align-center" data-aos="zoom-in-down">
                        Enjoy your trip - leave your luggage at BagsAway.
                    </div>
                    <div class="section__button section__button--align-center" data-aos="zoom-in-down">
                        <a href="#" class="base-button base-button--large base-button--blue base-button--shadow">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>