<section class="section" style="height: 677px; background-color: #14c21a">
    <div class="section__inner">
        <div class="section__table">
            <div class="section__table-cell">
                <div class="container">
                    <div class="section__title section__title--align-center" data-aos="fade-down">
                        How it works?
                    </div>
                    <div class="section__description section__description--align-center" data-aos="fade-down">
                        Check out our complex plans and start storing things at BagsAway today.
                    </div>
                    <div class="row" style="margin-top: 100px">
                        <div class="col-md-4">
                            <div class="block-with-image" data-aos="zoom-in" data-aos-delay="300">
                                <div class="block-with-image__image" style="top: -70px">
                                    <img src="${require('/assets/images/block-with-images/truck.png')}" alt="" style="max-height: 350px">
                                </div>
                                <div class="block-with-image__info">
                                    <div class="block-with-image__title">
                                        FREE PICKUP
                                    </div>
                                    <div class="block-with-image__description">
                                        Once your belongings are packed, we'll come pick them up. Free of charge.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="block-with-image" data-aos="zoom-in" data-aos-delay="600">
                                <div class="block-with-image__image" style="top: -90px">
                                    <img src="${require('/assets/images/block-with-images/list.png')}" alt="" style="max-height: 300px">
                                </div>
                                <div class="block-with-image__info">
                                    <div class="block-with-image__title">
                                        Convenient Delivery
                                    </div>
                                    <div class="block-with-image__description">
                                        At the click of a button, we'll drop off your stored items anywhere in the city.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="block-with-image" data-aos="zoom-in" data-aos-delay="900">
                                <div class="block-with-image__image" style="top: -70px">
                                    <img src="${require('/assets/images/block-with-images/box4.png')}" alt="">
                                </div>
                                <div class="block-with-image__info">
                                    <div class="block-with-image__title">
                                        FREE BINS
                                    </div>
                                    <div class="block-with-image__description">
                                        Our bins are eco-friendly and durable, keeping your items safe.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>