<section class="section section--main"  style="background-color: #0ebcff">
    <img src="${require('/assets/images/main-box.png')}" alt="" style="position: absolute; bottom: 0; max-width: 80%; left: 50%; transform: translateX(-50%)" data-aos="fade-down" data-aos-delay="200" data-aos-offset="300">
    <div class="section__inner">
        <div class="section__table">
            <div class="section__table-cell">
                <div class="container">
                    <div class="section__title section__title--align-center" data-aos="zoom-in">
                        Storage problem, solved.
                    </div>
                    <div class="section__description section__description--align-center" data-aos="fade-up" data-aos-delay="400">
                        Store whatever you want at BagsAway Luggage Service - <br/>
                        Toronto’s first mobile luggage storage!
                    </div>
                    <div class="section__button section__button--align-center" data-aos="fade-up" data-aos-delay="800">
                        <a href="#" class="base-button base-button--large base-button--filled base-button--shadow">STORE NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>