<section class="section" style="background-color: #2e81e6">
    <div class="section__inner">
        <div class="container">
            <div class="col-md-6 vcenter">
                <img src="${require('/assets/images/Mobile-Screenshots.png')}" alt="" style="max-width: 100%" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1500">
            </div><!--
            --><div class="col-md-5 col-md-offset-1 vcenter">
                <div class="section__title section__title--small section__title--align-left" data-aos="fade-left" data-aos-duration="1500">
                    You book quickly -
                    we store safely
                </div>
                <div class="section__description section__description--regular section__description--align-left" data-aos="fade-left" data-aos-duration="1500">
                    In a matter of minutes on your mobile, tablet or PC. Storage review, item requests, new storages. As easy as it should be. No matter what device you prefer - prepare for the best storage experience you ever had.
                </div>
                <div class="section__button section__button--align-left" data-aos="fade-left" data-aos-duration="1500">
                    <a href="#" class="base-button base-button--medium base-button--filled">STORE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>