<section class="section d-none d-md-block" style="height: 563px; background-image: url('${require('/assets/images/coffee-bg.png')}');">
    <div class="section__inner">
        <div class="section__table">
            <div class="section__table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 d-none d-lg-block"></div>
                        <div class="col-lg-6 col-md-8">
                            <div class="section__title section__title--align-left" data-aos="fade-left" data-aos-duration="1000">
                                Prices starting from 10 cents a day!
                            </div>
                            <div class="section__description section__description--align-left" data-aos="fade-left" data-aos-duration="1000">
                                Prices starting from 10 cents a day!
                            </div>
                            <div class="section__button section__button--align-left" data-aos="fade-left" data-aos-duration="1000">
                                <a href="#" class="base-button base-button--large base-button--filled base-button--shadow">STORE NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>