<section class="section" style="background-color: #14c21a">
    <div class="section__inner">
        <div class="container">
            <div class="section__title section__title--small section__title--align-center">
                Testimonials
            </div>
            <div class="section__description section__description--regular section__description--align-center">
                This customers trusted us. Check their oppinion about our service.
            </div>
            <div class="testimonials">
                <div class="testimonials__container owl-carousel"  id="testimonialContainer">
                    <div class="testimonials__item">
                        <div class="testimonials__item-photo" style="background-image: url(${require('/assets/images/testimonials/avatar1.jpg')})"></div>
                        <div class="testimonials__item-name">
                            Bruce Wayne
                        </div>
                        <div class="testimonials__item-date">
                            Aug 27, 2017
                        </div>
                        <div class="testimonials__divider"></div>
                        <div class="testimonials__item-quote">
                            A major turning point in the history of early philosophical science was the controversial
                        </div>
                    </div>
                    <div class="testimonials__item">
                        <div class="testimonials__item-photo" style="background-image: url(${require('/assets/images/testimonials/avatar1.jpg')})"></div>
                        <div class="testimonials__item-name">
                            Bruce Wayne
                        </div>
                        <div class="testimonials__item-date">
                            Aug 27, 2017
                        </div>
                        <div class="testimonials__divider"></div>
                        <div class="testimonials__item-quote">
                            A major turning point in the history of early philosophical science was the controversial
                        </div>
                    </div>
                    <div class="testimonials__item">
                        <div class="testimonials__item-photo" style="background-image: url(${require('/assets/images/testimonials/avatar1.jpg')})"></div>
                        <div class="testimonials__item-name">
                            Bruce Wayne
                        </div>
                        <div class="testimonials__item-date">
                            Aug 27, 2017
                        </div>
                        <div class="testimonials__divider"></div>
                        <div class="testimonials__item-quote">
                            A major turning point in the history of early philosophical science was the controversial
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>