<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 vcenter">
                <div class="header__logo">
                    <img src="${require('/assets/images/logo.svg')}" alt="BagsAway">
                </div>
            </div><!--
            --><div class="col-md-4 vcenter">
                <div class="header__nav">
                    <ul class="header__nav-menu">
                        <li class="header__nav-menu-item">
                            <a href="#">Storage</a>
                        </li>
                        <li class="header__nav-menu-item">
                            <a href="#">Pricing</a>
                        </li>
                        <li class="header__nav-menu-item">
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div><!--
            --><div class="col-md-4 vcenter">
                <div class="header__buttons">
                    <a href="#" class="base-button base-button--small base-button--filled">BOOK NOW</a>
                    <a href="#" class="base-button base-button--small base-button--border">SIGN IN</a>
                </div>
            </div>
        </div>
    </div>
</header>