{% extends "layouts/layout.njk" %}

{% block content %}

    {% include 'pages/sections/_main-section.njk' %}
    {% include 'pages/sections/_how-it-work-section.njk' %}
    {% include 'pages/sections/_prices-banner-section.njk' %}
    {% include 'pages/sections/_have-you-heard.njk' %}
    {% include 'pages/sections/_vintage-storage.njk' %}
    {% include 'pages/sections/_as-long-as-you-need.njk' %}

{% endblock %}