{% extends "layouts/layout.njk" %}

{% block content %}

    {% include 'pages/sections/_main-section.njk' %}
    {% include 'pages/sections/_how-it-work-section.njk' %}
    {% include 'pages/sections/_prices-banner-section.njk' %}
    {% include 'pages/sections/_enough-space.njk' %}
    {% include 'pages/sections/_have-you-heard.njk' %}
    {% include 'pages/sections/_prices-section.njk' %}
    {% include 'pages/sections/_best-storage-experience.njk' %}
    {% include 'pages/sections/_mobile-screenshots.njk' %}
    {% include 'pages/sections/_vintage-storage.njk' %}
    {% include 'pages/sections/_testimonials-section.njk' %}
    {% include 'pages/sections/_as-long-as-you-need.njk' %}
    {% include 'pages/sections/_faq-section.njk' %}
    {% include 'pages/sections/_form-section.njk' %}

{% endblock %}